
.main{

  background-color: beige;
  display: flex;
  flex-direction: column;
}

.task-labels{

  display: flex;
  justify-content: center;
  gap: 2%;
}

.task-labels div{

  width: 250px;
  padding: 5px;
  text-align: center;

}

.task-container{
  display: flex;
  justify-content: center;
  gap: 2%;
  height:100vh;
}

